*{
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: inherit;
    color: inherit;
}
body{
    background-color: #EAE8FE;
}




/* 전체 컨텐츠 시작 */
.wrapper{
    margin: 0 auto;
}
.wrapper h1{
    text-align: center;    
}
.wrapper h1 img{
    width: 386px;
    margin-bottom: 66px;
    vertical-align: top;
}


/* 자판기 컨텐츠 시작 */
main{
    gap: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* 왼쪽 자판기 영역 */
.machine-first{
    background-color: #FFFFFF;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 31px 0px;
}
.cola-machine{
    margin: 0 auto;
    
}
.cola-menu{
    display: flex;
    width: 306px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
    gap: 12px;
}
.cola-card{
    width: 94px;
    height: 130px;
    box-shadow: rgba(61, 61, 61, 0.5) 0px 0px 2px 1px;
    border-radius: 10px;   
    position: relative; 
    cursor: pointer;
}
.cola-machine .cola-menu li:active::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #6327FE;
    border-radius: 10px;
    box-sizing: border-box;
}
.cola-menu .cola-card:nth-child(2)::after{
    content: "";
    display: block;
    width: 94px;
    height: 130px;
    border-radius: 10px;
    position: absolute;
    background: url(../img/sold-out.svg) no-repeat;    
    background-position: center;
    top: 0;
    left: 0;
    line-height: 130px;    
    background-color: rgba(0, 0, 0, 0.8);
}
.cola-card img{
    margin-top: 11px;
}
.cola-card .cola-color{
    color: #333333;
    font-weight:600;
    font-size: 9px;
    margin-bottom: 2px;
}
.cola-card .cola-price{
    width: 70px;
    height: 22px;
    line-height: 22px;
    background: #6327FE;
    border-radius: 10px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 12px;
}


/* 왼쪽 자판기 잔액 부분 */
.cola-deposit{
    width: 306px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 12px;
    margin-top: 12px;
}
.cola-money{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cola-money .lightpuple-box{
    background: #EAE8FE;
    width: 180px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    color: #000000;
    font-size: 14px;
    padding: 0px 10px;
}
.cola-money .lightpuple-box span{
    margin-left: 100px;
}
.cola-money .white-box{
    width: 94px;
    height: 32px;
    font-size: 13px;
    padding: 0;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0px;
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    box-shadow: rgba(61, 61, 61, 0.5) 0px 0px 2px 1px;
}
.cola-money .input{
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    width: 180px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    color: #BDBDBD;
    font-size: 14px;
    padding: 0px 10px;
    text-align: left;
}


/* 왼쪽자판기 획득부분 */
.machine-first .cola-basket{
    width: 306px;
    height: 106px;    
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    margin-top: 12px;
    

}
.cola-basket-list{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #EAE8FE;
    width: 200px;
    height: 106px;   
    overflow: auto;
}
.cola-basket-list::-webkit-scrollbar{
    width: 10px;           
}
.cola-basket-list::-webkit-scrollbar-thumb{
    background-color: #FFFFFF;
    border-radius:  50px; 
    border: 3px solid transparent;
    background-clip: padding-box;
}
.cola-basket-list::-webkit-scrollbar-track{
    background-color: #EAE8FE;
    border-radius: 50px;
}

.basket-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    margin: 0 auto;
    margin-bottom: 6px;
    width: 154px;
    height: 26px;
    border-radius: 5px;
    padding: 10px 6px;
    background: #FFFFFF;
    font-size: 9px;
    font-weight: bold;
    color: #333333;
}
.basket-box:nth-child(1){
    margin-top: 12px;
}
.basket-box .cola-name{
    height: 26px;
    display: flex;
    flex-direction: row;
}
.basket-box .cola-name img{
    width: 18px;
}
.basket-box .cola-name .cola-small{
    
    height: 26px;
    line-height: 26px;
    margin-left: 10px;
}
.basket-box .basket-number{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.cola-basket .pupple-square{
    width: 94px;
    padding: 0;
    height: 106px;
    background-color: #6327FE;
    border-radius: 5px;
    border: 0px;
    box-shadow: rgba(61, 61, 61, 0.5) 0px 0px 2px 1px;
    color: #FFFFFF;
    font-size: 13px;
    cursor:pointer;
}


/* 오른쪽 자판기 영역 */
.machine-second{ 
    width: 360px;    
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* 소지금 부분 */
.money-mine{
    background: #FFFFFF;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.money-mine .lightpuple-box{
    width: 306px;
    height: 32px;
    line-height: 32px;
    background: #EAE8FE;
    border-radius: 5px; 
    padding: 0px 10px;
    font-size: 14px;    
}
.money-mine .lightpuple-box span{
    margin-left: 202px;
    font-weight: bold;
}

/* 획득한 음료 부분 */
.cola-get{
    background: #FFFFFF;
    height: 100%;
}
.cola-get h3{
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
}
.cola-basket:nth-child(2) .cola-basket-list{
    width: 306px;
    min-height: 364px;
    margin: 0 auto;
    margin-top: 13px;   
    overflow-y: scroll; 
}
.cola-get .cola-basket-list ul{
    min-height: 564px;
    width: 276px;
    margin-left:12px;
}
.cola-get .cola-basket-list .basket-box{
    width: 260px;
    height: 46px;
    padding: 0px 8px;
}
.cola-name .cola-small{
    font-size: 9px;
    font-weight: 500;
}
.total-price{
    width: 306px;
    margin: 0 auto;
    text-align: right;
    margin-top: 6px;
    margin-bottom: 26px;
    font-size: 12px;
    font-weight: 500;
}

/* <--------------------미디어 커리 부분------------------> */

/* 모바일 */
@media (max-width:360px) {
    .wrapper{
        width: 360px;
        margin: 0 auto;
        background-color: #FFFFFF;
    }
    main{
        flex-direction: column;
        gap: 0;
    }
    .wrapper h1 img{
        width: 166px;
        margin-bottom: 18px;
        vertical-align: top;
    }
}